html, body{
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  flex-direction: column;
}

.cabeçalho{
  padding: 30px;
  text-align: center;
}

.conteúdo{
  flex: 1 0 auto;
}

.rodapé{
  flex-shrink: 0;
    padding: 30px;
  text-align: center;
}